In [79]:
import os
print(os.getcwd())
#change working directory to the location of the data file
os.chdir('/mnt/d/Sajjad/08-2023/Python Code/Introduction to Machine Learning/')
print(os.getcwd())
import pandas as pd

/mnt/d/Sajjad/08-2023/Python Code/Introduction to Machine Learning
/mnt/d/Sajjad/08-2023/Python Code/Introduction to Machine Learning

In [80]:
df = pd.read_csv("ISL_DataSets/Boston.csv")
print(df.shape)
print(df.columns)

(506, 14)
Index(['s_no', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'lstat', 'medv'],
      dtype='object')

In [81]:
X = df.drop(columns=['s_no','medv'])
print(X.shape)
y = df[['medv']]

(506, 12)

In [82]:
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import LinearRegression

In [83]:
ols_reg = LinearRegression()
sfs = SequentialFeatureSelector(ols_reg, direction='forward',n_features_to_select=5)
sfs.fit(X, y)
print(sfs.get_feature_names_out())

['crim' 'chas' 'rm' 'ptratio' 'lstat']

In [84]:
ols_reg = LinearRegression()
sfs = SequentialFeatureSelector(ols_reg, direction='backward',n_features_to_select=5)
sfs.fit(X, y)
print(sfs.get_feature_names_out())

['zn' 'nox' 'dis' 'ptratio' 'lstat']

In [85]:
from sklearn.preprocessing import PolynomialFeatures

12 variables
A....L
A2, B2, .... L2
66 + 24 = 90 + 1 = 91

In [86]:
poly = PolynomialFeatures(2)
X = df.drop(columns=['s_no','medv'])
y = df[['medv']]
X2 = poly.fit_transform(X)
print(X2.shape)
print(poly.get_feature_names_out())
reg = LinearRegression().fit(X2,y)
print(reg.score(X2, y))
print(reg.coef_)
print(reg.intercept_)

(506, 91)
['1' 'crim' 'zn' 'indus' 'chas' 'nox' 'rm' 'age' 'dis' 'rad' 'tax'
 'ptratio' 'lstat' 'crim^2' 'crim zn' 'crim indus' 'crim chas' 'crim nox'
 'crim rm' 'crim age' 'crim dis' 'crim rad' 'crim tax' 'crim ptratio'
 'crim lstat' 'zn^2' 'zn indus' 'zn chas' 'zn nox' 'zn rm' 'zn age'
 'zn dis' 'zn rad' 'zn tax' 'zn ptratio' 'zn lstat' 'indus^2' 'indus chas'
 'indus nox' 'indus rm' 'indus age' 'indus dis' 'indus rad' 'indus tax'
 'indus ptratio' 'indus lstat' 'chas^2' 'chas nox' 'chas rm' 'chas age'
 'chas dis' 'chas rad' 'chas tax' 'chas ptratio' 'chas lstat' 'nox^2'
 'nox rm' 'nox age' 'nox dis' 'nox rad' 'nox tax' 'nox ptratio'
 'nox lstat' 'rm^2' 'rm age' 'rm dis' 'rm rad' 'rm tax' 'rm ptratio'
 'rm lstat' 'age^2' 'age dis' 'age rad' 'age tax' 'age ptratio'
 'age lstat' 'dis^2' 'dis rad' 'dis tax' 'dis ptratio' 'dis lstat' 'rad^2'
 'rad tax' 'rad ptratio' 'rad lstat' 'tax^2' 'tax ptratio' 'tax lstat'
 'ptratio^2' 'ptratio lstat' 'lstat^2']
0.9090998670467306
[[ 7.41899230e+08 -5.86686378e+00  2.46697708e-01 -3.92819928e+00
   3.43704358e+01  1.78334813e+02  2.02240757e+01  3.94889611e-01
  -5.81210745e+00  1.69595516e+00  9.70655073e-02  7.91662656e+00
   4.13512795e-01 -6.89991694e-04  5.16620193e-01  4.42578463e-01
   2.21290510e+00 -1.48825752e+00  3.05331955e-01  9.16648345e-03
   7.15469684e-02  3.52571543e-01 -2.67368699e-02  2.28728628e-01
   3.11678292e-02  7.29246903e-04 -5.96901170e-03 -4.87553376e-02
  -1.07013752e+00  1.95836613e-02 -2.06252775e-04 -3.17969608e-02
  -1.18178106e-02  7.18738143e-04  4.07459417e-03 -2.44038915e-03
   1.58434152e-02  4.62739217e-02  1.89191594e+00  2.69524543e-01
   2.50821843e-03  2.34257300e-02  4.86596727e-02  3.40799902e-04
   4.91130419e-02 -3.71317869e-02  3.43704347e+01 -4.22424593e+01
  -5.69361071e+00 -2.26560466e-02  9.06033926e-01 -1.04445325e-01
   1.90886326e-02 -8.87777230e-01 -1.71622514e-01 -6.91192447e+01
  -7.92681952e-01 -4.58600695e-01  8.77186418e+00 -9.70022774e-01
   1.32543385e-01 -1.01513227e+01  1.48258135e+00  4.77696421e-01
  -3.79374779e-02  7.13614869e-02  1.27134894e-02 -2.41399722e-02
  -6.08215660e-01 -1.34642467e-01  3.49371364e-05 -6.72748049e-04
   1.36821916e-02 -5.82315704e-04  9.63963242e-03 -6.23960591e-03
   4.18033027e-01  1.23063373e-02 -7.10252810e-03 -7.09678844e-02
  -2.79769995e-03 -9.19367892e-02  3.24505880e-03 -9.36773687e-02
  -3.24120898e-02 -3.57872322e-05  2.27854707e-03 -8.58208871e-04
  -1.44801076e-02  3.13732396e-03  1.94274937e-02]]
[-7.41899398e+08]

In [87]:
poly = PolynomialFeatures(2, interaction_only=True)
X = df.drop(columns=['s_no','medv'])
y = df[['medv']]
X2 = poly.fit_transform(X)
print(X2.shape)
print(poly.get_feature_names_out())
reg = LinearRegression().fit(X2,y)
print(reg.score(X2, y))
print(reg.coef_)
print(reg.intercept_)

(506, 79)
['1' 'crim' 'zn' 'indus' 'chas' 'nox' 'rm' 'age' 'dis' 'rad' 'tax'
 'ptratio' 'lstat' 'crim zn' 'crim indus' 'crim chas' 'crim nox' 'crim rm'
 'crim age' 'crim dis' 'crim rad' 'crim tax' 'crim ptratio' 'crim lstat'
 'zn indus' 'zn chas' 'zn nox' 'zn rm' 'zn age' 'zn dis' 'zn rad' 'zn tax'
 'zn ptratio' 'zn lstat' 'indus chas' 'indus nox' 'indus rm' 'indus age'
 'indus dis' 'indus rad' 'indus tax' 'indus ptratio' 'indus lstat'
 'chas nox' 'chas rm' 'chas age' 'chas dis' 'chas rad' 'chas tax'
 'chas ptratio' 'chas lstat' 'nox rm' 'nox age' 'nox dis' 'nox rad'
 'nox tax' 'nox ptratio' 'nox lstat' 'rm age' 'rm dis' 'rm rad' 'rm tax'
 'rm ptratio' 'rm lstat' 'age dis' 'age rad' 'age tax' 'age ptratio'
 'age lstat' 'dis rad' 'dis tax' 'dis ptratio' 'dis lstat' 'rad tax'
 'rad ptratio' 'rad lstat' 'tax ptratio' 'tax lstat' 'ptratio lstat']
0.8993299878960224
[[ 5.03779943e+09 -1.89364429e+01 -1.06598249e-01 -2.28455402e+00
   5.81995405e+01  3.52748846e+01  2.47203735e+01  7.57739720e-01
  -1.65429372e+00  1.23364379e+00  9.73698668e-02  3.06872323e+00
   1.20951634e+00  6.20972405e-01  6.50762311e-02  2.10823760e+00
  -2.16725232e+00  3.65376645e-01  8.79706801e-03  1.15666034e-01
  -4.64916738e-01  2.26125542e-02  5.51321331e-01  3.95575439e-02
  -6.59843013e-05 -1.34187811e-01 -2.00506512e-01  6.57176876e-03
   1.20348496e-03  1.23789679e-02 -2.15861027e-02  5.15953536e-04
   2.57848550e-03 -1.68327692e-02 -2.37277474e-01  2.69976146e+00
   2.80419184e-01  5.53584035e-03 -1.19528836e-02 -4.24225996e-02
   3.23600133e-04 -5.92099027e-02 -3.44091082e-03 -4.36498358e+01
  -5.41613612e+00  3.92948868e-03  4.08488677e-01 -6.18978822e-01
   5.67722308e-02 -6.39745771e-01 -2.63174738e-01  3.60460370e+00
  -9.17532510e-01  2.14001776e+00  5.69739775e-01 -3.16245037e-02
  -3.24838954e+00  1.78715488e+00 -3.92180378e-02  2.62688778e-01
  -6.50910585e-02 -2.83911419e-02 -4.64640972e-01 -2.64357341e-01
  -2.08647111e-02  1.24986005e-02 -2.50529479e-04 -2.04756855e-03
  -4.15292940e-03  9.27008525e-02 -6.47993508e-03 -7.87371647e-02
   1.73202347e-01  5.75562683e-04 -7.49543508e-02 -1.13673305e-02
   7.08197584e-03 -1.96528063e-03 -1.75437327e-02]]
[-5.03779956e+09]

In [88]:
#df = pd.read_csv("IML_DataSets\Adult.csv")
df2 = pd.read_excel("DMforBA_DataSets/ToyotaCorolla.xls")
df2 = df2.loc[:, df2.columns != 'Id']
df2.head()

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,Blue,...,1,1,1,0,0,0,1,0,0,0
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,Silver,...,1,0,1,0,0,0,1,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,Blue,...,0,0,1,0,0,0,1,0,0,0
3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,Black,...,0,0,1,0,0,0,1,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,Black,...,1,1,1,0,1,0,1,0,0,0

In [90]:
df = df2[['Price', 'Age_08_04', 'KM', 'Fuel_Type', 'Automatic', 'Gears']]
df.head()

   Price  Age_08_04     KM Fuel_Type  Automatic  Gears
0  13500         23  46986    Diesel          0      5
1  13750         23  72937    Diesel          0      5
2  13950         24  41711    Diesel          0      5
3  14950         26  48000    Diesel          0      5
4  13750         30  38500    Diesel          0      5

In [91]:
df.dtypes

Price         int64
Age_08_04     int64
KM            int64
Fuel_Type    object
Automatic     int64
Gears         int64
dtype: object

In [92]:
df_dummy = pd.get_dummies(df,drop_first=True)
print("Original features:\n", list(df.columns), "\n")
print("Features after get_dummies:\n", list(df_dummy.columns))

Original features:
 ['Price', 'Age_08_04', 'KM', 'Fuel_Type', 'Automatic', 'Gears']

Features after get_dummies:
 ['Price', 'Age_08_04', 'KM', 'Automatic', 'Gears', 'Fuel_Type_Diesel', 'Fuel_Type_Petrol']

In [93]:
df_onehot = pd.get_dummies(df)
print("Original features:\n", list(df.columns), "\n")
print("Features after get_dummies:\n", list(df_onehot.columns))

Original features:
 ['Price', 'Age_08_04', 'KM', 'Fuel_Type', 'Automatic', 'Gears']

Features after get_dummies:
 ['Price', 'Age_08_04', 'KM', 'Automatic', 'Gears', 'Fuel_Type_CNG', 'Fuel_Type_Diesel', 'Fuel_Type_Petrol']

In [94]:
df_onehot.head()

,Price,Age_08_04,KM,Automatic,Gears,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol
0,13500,23,46986,0,5,False,True,False
1,13750,23,72937,0,5,False,True,False
2,13950,24,41711,0,5,False,True,False
3,14950,26,48000,0,5,False,True,False
4,13750,30,38500,0,5,False,True,False

In [95]:
#assign X to all variables except Price
X = df_onehot.loc[:, df_onehot.columns != 'Price']
#assign y to Price
y = df_onehot[['Price']]

In [96]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn import tree

In [97]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [98]:
import warnings
warnings.filterwarnings("ignore")

In [100]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
reg2 = LinearRegression().fit(X_train, y_train)
y_pred = reg2.predict(X_test)
print("LR: R2 = %.4f and MSE = %.2f" % (reg2.score(X_test,y_test), mean_squared_error(y_test, y_pred)))

regTree = DecisionTreeRegressor(max_depth=10,random_state=0)
regTree.fit(X_train, y_train)
y_pred = regTree.predict(X_test)
print("DT: R2 = %.4f and MSE = %.2f" % (regTree.score(X_test,y_test), mean_squared_error(y_test, y_pred)))

regRF = RandomForestRegressor(max_depth=6, max_features=4, min_samples_split=8,
                      n_estimators=300, random_state=0)
regRF.fit(X_train, y_train)
y_pred = regRF.predict(X_test)
print("RF: R2 = %.4f and MSE = %.2f" % (regRF.score(X_test,y_test), mean_squared_error(y_test, y_pred)))

regGB = GradientBoostingRegressor(max_depth=10, max_features=4, min_samples_split=8,
                      n_estimators=300, random_state=0)
regGB.fit(X_train, y_train)
y_pred = regGB.predict(X_test)
print("GB: R2 = %.4f and MSE = %.2f" % (regGB.score(X_test,y_test), mean_squared_error(y_test, y_pred)))

LR: R2 = 0.7795 and MSE = 3165908.84
DT: R2 = 0.8232 and MSE = 2537913.26
RF: R2 = 0.8600 and MSE = 2009372.75
GB: R2 = 0.8391 and MSE = 2310263.42

In [101]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [102]:
cv = KFold(n_splits=10, random_state=0, shuffle=True)
reg = LinearRegression()
    
# evaluate model
scores = cross_val_score(reg, X, y, cv=cv, scoring='neg_mean_squared_error') 
print(sum(scores)/len(scores))
#scores

-2678388.6737231407

In [103]:
cv = KFold(n_splits=10, random_state=1234, shuffle=True)
reg = DecisionTreeRegressor(max_depth=10,random_state=0)
    
# evaluate model
scores = cross_val_score(reg, X, y, cv=cv, scoring='neg_mean_squared_error') 
print(sum(scores)/len(scores))

-2306151.9035068615

In [104]:
cv = KFold(n_splits=10, random_state=1234, shuffle=True)
reg = GradientBoostingRegressor(max_depth=10, max_features=4, min_samples_split=8,
                      n_estimators=300, random_state=0)
    
# evaluate model
scores = cross_val_score(reg, X, y, cv=cv, scoring='neg_mean_squared_error') 
print(sum(scores)/len(scores))

-2076663.833036074

In [105]:
from sklearn.neighbors import KNeighborsRegressor

In [106]:
#df = pd.read_csv("ISL_DataSets/Advertising.csv")
neigh = KNeighborsRegressor(n_neighbors=5)

#print(reg.coef_)
#print(reg.intercept_)
scores = cross_val_score(neigh, X, y, cv=cv, scoring='neg_mean_squared_error') 
print(sum(scores)/len(scores))

-7873554.4300186485

In [107]:
#df = pd.read_csv("ISL_DataSets/Advertising.csv")
neigh = KNeighborsRegressor(n_neighbors=3)

#print(reg.coef_)
#print(reg.intercept_)
scores = cross_val_score(neigh, X, y, cv=cv, scoring='neg_mean_squared_error') 
print(sum(scores)/len(scores))

-8442504.59971672

In [108]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler

In [109]:
pipe_knn = Pipeline([("scaler", MinMaxScaler()), ("knr", KNeighborsRegressor(n_neighbors=5))])
scores = cross_val_score(pipe_knn, X, y, cv=cv, scoring='neg_mean_squared_error') 
print(sum(scores)/len(scores))

-1851537.5657688424

In [110]:
pipe_knn = Pipeline([("scaler", MinMaxScaler()), ("knr", KNeighborsRegressor(n_neighbors=3))])
scores = cross_val_score(pipe_knn, X, y, cv=cv, scoring='neg_mean_squared_error') 
print(sum(scores)/len(scores))

-1986740.3493454847